*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

#navbar-menu{
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    background-color: #F2F2F3;
}
.head-img{
    overflow: hidden;
}

.head-img>div>img{
    border-radius: 40px;
    transition: 0.3s;
}
.head-img>div>img:hover{
    transform: scale(1.1);
}

.head-image1,
.head-image2{
    width: 48%;
}
#header-parent>div:nth-child(1){
    width: 48%;
    position: relative;
}
#header-parent>div:nth-child(2){
    width: 48%;
}

@media all and (max-width:1137px) {
    .head-img{
        flex-direction: column;
        align-items: center;
    }
    .head-image1,
    .head-image2{
        width: 73%;
    }
    
    .header-text{
        display: none;
    }
}

@media all and (max-width:660px) {
    #header-parent{
        flex-direction: column;
    }
    #header-parent>div:nth-child(1),
    #header-parent>div:nth-child(2){
        width: 100%;
    }
    .head-img{
        flex-direction: row;
        margin-top: 30px;
    }
}
.box-product>*{
    transition: .2s ease-in-out 0s;
}
.box-product>*:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.product-img:hover{
    transform: scale(1.1);
}

.footer-div>*:hover{
    color: white;
    cursor: pointer;
}


@media all and (max-width:479px) {
    .footer-div{
        text-align: center;
    }
}