*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

#navbar-menu{
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
    background-color: #F2F2F3;
}
.head-img{
    overflow: hidden;
}

.head-img>div>img{
    border-radius: 40px;
    transition: 0.3s;
}
.head-img>div>img:hover{
    transform: scale(1.1);
}

.head-image1,
.head-image2{
    width: 48%;
}
#header-parent>div:nth-child(1){
    width: 48%;
    position: relative;
}
#header-parent>div:nth-child(2){
    width: 48%;
}

@media all and (max-width:1137px) {
    .head-img{
        flex-direction: column;
        align-items: center;
    }
    .head-image1,
    .head-image2{
        width: 73%;
    }
    
    .header-text{
        display: none;
    }
}

@media all and (max-width:660px) {
    #header-parent{
        flex-direction: column;
    }
    #header-parent>div:nth-child(1),
    #header-parent>div:nth-child(2){
        width: 100%;
    }
    .head-img{
        flex-direction: row;
        margin-top: 30px;
    }
}
.box-product>*{
    transition: .2s ease-in-out 0s;
}
.box-product>*:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.product-img:hover{
    transform: scale(1.1);
}

.footer-div>*:hover{
    color: white;
    cursor: pointer;
}


@media all and (max-width:479px) {
    .footer-div{
        text-align: center;
    }
}


/* About Page Css starting */

.whole-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    color: #fff;
  }
  
  .profile-wrap{
    padding: 20px;
    background-color: #333750;
    width: 350px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.781) 0px 3px 8px;
  }
  
  .profile-right-icons{
    float: right;
  }
  
  .profile-img-wrap{
    position: relative;
    width: 200px;
    margin: 0 auto;
    &::before{
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      bottom: 0px;
      right: 40px;
      border-radius: 50%;
      background-image: linear-gradient(120deg, #8b62cc,#e256af);
    }
    &::after{
      content: '';
      position: absolute;
      border-right: 3px solid #fff;
      border-bottom: 3px solid #fff;
      height: 14px;
      width: 6px;
      border-radius: 3px;
      transform: rotate(45deg);
      bottom: 8px;
      right: 50px;
    }
  }
  
  .profile-img-wrap img{
    box-shadow: 0 10px 20px -5px rgba(0,0,0,.5);
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
  
  .profile-text-block{
    text-align: center;
  }
  .profile-primary-head {
    margin-top: 10px;
    h2{
        font-size: 42px;
        font-weight: 400;
    }
    p{
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight:700;
        color: rgba(#fff, .4);
      }
   }
  
  .profile-sub-head{
    font-size: 12px;
    margin: 10px 0 20px;
    padding: 0 90px;
    color: rgba(#fff, .8);
  }
  
  .hire-btn{
    padding: 10px 16px;
    border-radius: 20px;
    border: 0;
    background-image: linear-gradient(120deg, #8b62cc, #e256af);
    font-size: 16px;
    width: 80%;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,.4);
    color: #fff;
  }
  
  


/* About Page Css End */



.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #F56B33;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    z-index: 99999;
  }
  
  .scroll-to-top.show {
    opacity: 1;
  }
  
  .scroll-icon {
    font-size: 20px;
  }


  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 64.80133185349611,200.4821309655938 129.60266370699222,200.96426193118756 176,218 C 222.39733629300778,235.03573806881244 250.39067702552722,268.62508324084354 306,272 C 361.6093229744728,275.37491675915646 444.8346281908989,248.53540510543843 505,243 C 565.1653718091011,237.46459489456157 602.2708102108768,253.2332963374029 643,253 C 683.7291897891232,252.7667036625971 728.0821309655939,236.53140954495007 785,209 C 841.9178690344061,181.46859045504993 911.4006659267479,142.6410654827969 967,157 C 1022.5993340732521,171.3589345172031 1064.315205327414,238.90432852386238 1111,235 C 1157.684794672586,231.09567147613762 1209.3385127635959,155.74162042175362 1265,138 C 1320.6614872364041,120.25837957824639 1380.3307436182022,160.1291897891232 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 51.661955851523004,222.21950918732273 103.32391170304601,244.43901837464546 158,247 C 212.676088296954,249.56098162535454 270.36630903933894,232.46343568874087 331,230 C 391.63369096066106,227.53656431125913 455.21085213959805,239.70723887039094 501,240 C 546.789147860402,240.29276112960906 574.7902824022691,228.70760882969543 622,236 C 669.2097175977309,243.29239117030457 735.6280182513256,269.4623258108275 785,273 C 834.3719817486744,276.5376741891725 866.6976445924281,257.44308792699474 930,236 C 993.3023554075719,214.5569120730053 1087.5814033789618,190.76532248119375 1148,170 C 1208.4185966210382,149.23467751880625 1234.9767418917252,131.49562214823038 1278,137 C 1321.0232581082748,142.50437785176962 1380.5116290541373,171.2521889258848 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 66.40878036749291,231.72075471698113 132.81756073498582,263.44150943396227 182,237 C 231.18243926501418,210.55849056603773 263.13853742754964,125.95471698113207 305,128 C 346.86146257245036,130.04528301886793 398.62828955481564,218.73962264150944 462,221 C 525.3717104451844,223.26037735849056 600.3483043531878,139.0867924528302 665,126 C 729.6516956468122,112.91320754716982 783.9784930324332,170.91320754716983 825,187 C 866.0215069675668,203.08679245283017 893.7377235170799,177.2603773584906 945,165 C 996.2622764829201,152.7396226415094 1071.0706128992474,154.0452830188679 1135,168 C 1198.9293871007526,181.9547169811321 1251.9798248859295,208.55849056603773 1301,216 C 1350.0201751140705,223.44150943396227 1395.0100875570351,211.72075471698113 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 55.90711555062276,180.88972746331237 111.81423110124553,161.77945492662474 173,150 C 234.18576889875447,138.22054507337526 300.65019114564063,133.77190775681342 344,154 C 387.34980885435937,174.22809224318658 407.5850043161919,219.13291404612158 460,239 C 512.4149956838081,258.8670859538784 597.0097915895918,253.69643605870021 665,230 C 732.9902084104082,206.30356394129979 784.3758293254408,164.08134171907759 825,167 C 865.6241706745592,169.91865828092241 895.4868911086447,217.9781970649895 952,233 C 1008.5131088913553,248.0218029350105 1091.6766062399802,230.00587002096435 1141,205 C 1190.3233937600198,179.99412997903565 1205.806683931434,147.99832285115306 1250,146 C 1294.193316068566,144.00167714884694 1367.0966580342829,172.00083857442348 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,200 0,200 C 64.80133185349611,200.4821309655938 129.60266370699222,200.96426193118756 176,218 C 222.39733629300778,235.03573806881244 250.39067702552722,268.62508324084354 306,272 C 361.6093229744728,275.37491675915646 444.8346281908989,248.53540510543843 505,243 C 565.1653718091011,237.46459489456157 602.2708102108768,253.2332963374029 643,253 C 683.7291897891232,252.7667036625971 728.0821309655939,236.53140954495007 785,209 C 841.9178690344061,181.46859045504993 911.4006659267479,142.6410654827969 967,157 C 1022.5993340732521,171.3589345172031 1064.315205327414,238.90432852386238 1111,235 C 1157.684794672586,231.09567147613762 1209.3385127635959,155.74162042175362 1265,138 C 1320.6614872364041,120.25837957824639 1380.3307436182022,160.1291897891232 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
  }